.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  text-decoration: underline;
  text-underline-offset: 0.22em;
  text-decoration-thickness: 0.05em;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image img {
  width: 92%;
  display: block;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.address {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
}

.address__number,
.address__email {
  text-decoration: underline;
  text-underline-offset: 0.22em;
  text-decoration-thickness: 0.05em;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -136px;
  z-index: -1; /* не работает*/
  margin-bottom: 184px;
}

.overlay {
  background-color: black;
  opacity: 60%;
  position: absolute;
  z-index: -1;
  min-height: 100%;
  width: 100%;
}

.cover__heading {
  width: 1100px;
  display: flex;
  position: relative;
  justify-self: center;
  inset: 165px 0 207px;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.cover__title {
  width: 100%;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 1.2em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
  padding-left: 50px;
}

.aligned-text_center {
  text-align: center;
  padding-top: 13px;
  padding-left: 31px;
}

.aligned-text_right {
  text-align: right;
  padding-top: 15px;
  padding-right: 20px;
}

.cover__description {
  display: flex;
  position: absolute;
  inset: 656px 50px 50px;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  word-spacing: 0.9em;
}

.word-spacing-text {
  word-spacing: 0.8em;
}

.bet-button {
  width: 256px;
  height: 51px;
  opacity: 1;
  border: 1px solid #fff;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
}

.lots {
  width: 1052px;
  min-height: 723px;
  margin: 0 auto 120px;
}

.lots__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-left: 40px;
  margin-bottom: 30px;
  color: #000;
}

.lots__cards-list {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0 0 33px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.05em;
  color: #fff;
  margin: 48px 40px 0;
}

.card__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #fff;
  margin: auto 40px 48px;
  text-decoration: none;
}

.lots__cards-list__item__cinema {
  width: 334px;
  min-height: 596px;
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.lots__cards-list__item__book {
  width: 334px;
  min-height: 596px;
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.lots__cards-list__item__art {
  width: 334px;
  min-height: 596px;
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.lots__link {
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-underline-offset: 0.22em;
  text-decoration-thickness: 0.05em;
}

.about {
  width: 1052px;
  min-height: 595px;
  margin: 0 auto 177px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 334px 2fr;
}

.about__column__logo {
  padding-left: 47px;
  padding-top: 31px;
}

.about__column__description {
  padding-left: 25px;
  padding-top: 136px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 142px;
}

.about__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  display: grid;
  gap: 24px;
  padding-top: 3px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text__word-spacing-max {
  letter-spacing: 0.002em;
}

.about__text__word-spacing-min {
  letter-spacing: 0.001em;
}

.footer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  padding: 0 50px;
}

.footer__address {
  justify-self: start;
  max-width: 265px;
}

.footer__menu {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
}

.footer__menu-list-item {
  text-decoration: underline;
  text-underline-offset: 0.22em;
  text-decoration-thickness: 0.05em;
}

.footer__menu-list {
  list-style: none;
}
.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  list-style: none;
  gap: 48px;
  justify-content: end;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}
